.navbar-brand {
    font-size: 65px;
    font-weight: bold;
    padding-left: 5%;
}

.zero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.one {
    padding-left: 15%;
    padding-top: 5%;
}

.two {

    font-size: 55px;
    font-weight: bolder;

}

.three {
    font-size: 15px;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 20%;
}

.button {
    /* padding-left: 10%; */
    /* padding-top: 5%; */
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: red;
}

.text {
    color: white;
    text-align: center;
    font-weight: bold;

}

.four {

    text-align: center;

}

.section-2 {
    background-color: rgba(128, 128, 128, 0.14);

}

.five {
    font-size: 35px;
    font-weight: bolder;
}

.six {
    padding-top: 5%;
    padding-left: 20%;
    padding-bottom: 5%;

}

.seven {
    background-color: rgba(128, 128, 128, 0.14);

}

.eight {
    padding-left: 15%;

}

.nine {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(128, 128, 128, 0.14);
}

.ten {
    font-size: 55px;
    font-weight: bolder;
}

.eleven {
    font-weight: bold;
}

.button-2 {
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(9, 9, 210, 0.775);

}

.text-2 {
    color: white;
    text-align: center;
    font-weight: bold;

}

.twelve {
    text-align: center;
}

.thirteen {
    padding-top: 5%;
    font-size: 45px;
    font-weight: bolder;
}

.fourteen {
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 15px;
}

.chapter {
    color: rgba(69, 69, 69, 0.727);
}

.para {
    text-align: justify;
}

.seventeen {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgba(16, 16, 65, 0.912);
    border-radius: 15px;

}

.fifteen {
    text-align: center;
    color: white;


}

.sixteen {
    font-size: 45px;
    font-weight: bolder;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10%;
    gap: 75px;
}

.eighteen {
    text-align: center;
    padding-top: 5%;
}

.nineteen {
    font-size: 45px;
    font-weight: bolder;

}

.cards-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 10%;


}

.twenty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 15%;
    padding-bottom: 15%;
    gap: 50px;
}

.heading {
    color: rgb(13, 13, 109);
    font-size: 45px;
    font-weight: bolder;
}

.twenty-one {
    background-color: black;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
}

.line {
    text-align: center;
    padding: 5%;
    color: red;
}

.form-label {
    color: white;
    padding-left: 10%;

}

.form-control {
    padding-left: 10%;
    padding-right: 10%;
}

.form-check-input {
    padding-left: 10%;
    padding-right: 10%;
}

.twenty-two {
    text-align: center;
    padding: 5%;
}

.twenty-three {
    font: 45px;
    font-weight: bolder;
}

.twenty-four {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    gap: 50px;
}

.pic {
    border-radius: 100%;

}

.twenty-five {
    text-align: center;
    padding: 5%;
}

.twenty-six {
    font-size: 45px;
    font-weight: bolder;

}

.twenty-seven {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image {
    padding-left: 20%;
    border-radius: 15px;
    box-shadow: 5px rgba(0, 0, 0, 0.304);
}

.name {
    font-size: 35px;
    font-weight: bold;
}

.list {
    padding-top: 5%;
    font-size: 25px;
    font-weight: bold;
}

.second-last {
    text-align: center;
    padding-top: 5%;
}

.Pricing {
    font-size: 65px;
    font-weight: bolder;
}

.last-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.C-1 {
    padding-left: 10%;

}

.C-2 {
    padding-left: 5%;
    padding-top: 20%;

}

.C-3 {
    padding-left: 5%;
    padding-right: 10%;
}

.last-class {
    text-align: center;
}

.last-heading {
    font-size: 65px;
    font-weight: bolder;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;
    color: white;
}

.footer-divs {
    padding: 10%;
}
.twenty-one input{
    width: 80%;
    margin: auto;
}
.subs-form input{
    width: 100%;
}
.subs-form button{
    width: 100%;
}
.card img{
    width: 50%;
    margin: auto;
    padding-top: 5%;
}
.faq{
    background-color: rgba(128, 128, 128, 0.14);

}
.faq-2{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    
}
.faq-3{
    font-size: 45px;
    font-weight: bolder;
}
.faq-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 10px;
    
}
.grid text-center{
    border: white;
}
.g-col-6{
    background-color: #fff;
  
    width: 80%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
}
.b-4{
    justify-content: center;
    text-align: center;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    padding: 1%;
    border-radius: 15px ;
}
.last-button{
    
    text-align: center;
    padding-bottom: 5%;
}
.price-card {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 5%;
    text-align: center;
}

.tick{
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
}
.tick i{
    color: rgb(22, 0, 64);
    padding-right: 1%; 
}
.input{
    padding-left: 20%;
    padding-right: 20%;
}
.red-line{
    background-color: red;
    height: 2px;
    width: 5%;
    margin: auto;
}
.cards .card i{
    font-size: 40px;
    width: 40px;
    height: 40px;
    background-color: navy;
    color: white;
    text-align: center;
    border-radius: 100%;
    padding: 5%;
}
section-7 i{
    text-align: center;
    font-size: 40px;
    padding-top: 5%;
    color: red;
}
section-7 .card{
    padding: 3%;
    text-align: center;
    border: none;
    box-shadow: 5px 5px 5px #00000019;
    width: 80%;
    margin: auto;
}